<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-1" src="assets/img/Cerere.svg" alt="" /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Dashboard </h1>
        <!-- Icon Divider-->
        <!-- <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div> -->
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Dashboard</p> -->
    </div>
</header>
<section class="page-section" id="Dashboard">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Previsioni</h2>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <!-- <p class="text-muted">CERERE è una piattaforma di segnalazione di stress idrico che permette ai gestori della rete idrica programmare la distribuzione. I dati delle segnalazioni rilevati tramite chatbot in Webex vengono integrati con i dati rilevati da sensori IoT.
                            Il nostro obiettio è aumentare l’efficienza d’uso della risorsa idrica</p>
                         -->
                            <!-- <img class="img-fluid" src="assets/img/Progetto.jpg" alt="" /> -->
                            <img class="img-fluid" src="assets/img/Tablet.jpg" alt="" />
                        </div>
                    <div class="col-md-2"></div>
                </div>
                <!-- <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Per i consorzi irrigui</h4> -->
                <!-- <p class="text-muted">Modello previsionale in cloud computing basato su mappatura partecipativa e IoT per prevedere le richieste di accesso al reticolo idrico ad uso irriguo</p> -->
            </div>
        </div>
        <div></div>
        <div class="pt-3 row">
            <div class="col-xl-6">
                <sb-card>
                    <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Temperatura</div>
                    <div class="card-body"><sb-charts-area></sb-charts-area>
                    </div>
            </sb-card>
            </div>
            <div class="col-xl-6">
                <sb-card
                    ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Precipitazioni</div>
                    <div class="card-body"><sb-charts-bar></sb-charts-bar></div
                ></sb-card>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="my-3">Precipitazioni</h3>
                <p class="text-muted">Integrazione di sensori IoT con segnalazioni di stress idrico fornite dagli agricoltori tramite Bot Webex al fine di aumentare l’efficienza d’uso della risorsa idrica</p>
                <img class="img-fluid" src="assets/img/Rain.png" alt="" />
            </div>
            <div class="col-lg-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="my-3">Temperature</h3>
                <p class="text-muted">Dashboard interattiva parametri utili a programmare interventi irrigui e possibilità di segnalare lo stress idrico rilevato sulla propria coltura 
                <span style="color:white">PRova</span>
                </p>
                <img class="img-fluid" src="assets/img/Tsuolo.png" alt="" />
            </div>
            
        </div> -->
       
    </div>
</section>
<div class="container">
        <div class="text-center">
            <h4 class="my-3">Esempio WebexChatbot</h4>

        <img class="img-fluid" src="assets/img/EsempioChatBot.png" alt="" />
    </div>
</div>