<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-1" src="assets/img/Cerere.svg" alt="" /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">User Map</h1>
        <!-- Icon Divider-->
        <!-- <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div> -->
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">User Map</p> -->
    </div>
</header>

<section class="page-section" id="user-map">
    <div class="container">
        <div class="text-center">
            <!-- <h2 class="section-heading text-uppercase">Previsioni</h2> -->
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <!-- <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span> -->
                <h2 class="my-3">Stress Idrico</h2>
                <!-- <p class="text-muted">Modello previsionale in cloud computing basato su mappatura partecipativa e IoT per prevedere le richieste di accesso al reticolo idrico ad uso irriguo</p> -->
                <img class="img-fluid" src="assets/img/StressIdrico.jpg" alt="" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <!-- <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span> -->
                <h2 class="my-3">Richiesta Idrica</h2>
                <!-- <p class="text-muted">Modello previsionale in cloud computing basato su mappatura partecipativa e IoT per prevedere le richieste di accesso al reticolo idrico ad uso irriguo</p> -->
                <img class="img-fluid" src="assets/img/RichiestaIdrica.jpg" alt="" />
            </div>
        </div>
       
       
    </div>
    <div class="container">
        <div class="text-center">
            <h4 class="my-3">Esempio di Centralina in campo</h4>
            
            <img class="img-fluid" src="assets/img/CentralinaCampo.jpeg" alt="" />
        </div>
    </div>
</section>